
        <section class="widget no-mobile">
                <div class="frame thick">
                        <div id="carousel-medium" class="carousel slide carousel-medium" data-ride="carousel">
                                <!-- Carousel contents -->
                                <div class="carousel-inner">
                                        <div class="item active">
                                                <div class="item-inner">
                                                        <div data-src="http://placehold.it/730x370" data-alt="Doctype Pellentesque pellentesque faucibus urna ac feugiat"></div>
                                                        <div class="carousel-caption hide">
                                                                <div><a href="#"><h3>Doctype Pellentesque Pellentesque Faucibus Urna Ac Feugiat</h3></a></div>
                                                                <div class="hidden-xs">
                                                                        <p>
                                                                                Ut eleifend, ligula id tristique gravida, lectus risus convallis nunc, ut varius ipsum mauris
                                                                                vel erat. Pellentesque eleifend accumsan lacus vel rutrum..
                                                                        </p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="item">
                                                <div class="item-inner">
                                                        <div data-src="http://placehold.it/730x370" data-alt="Mauris lacus nisl, suscipit ut orci ut, gravida dapibus neque Interdum et malesuada"></div>
                                                        <div class="carousel-caption hide">
                                                                <div><a href="#"><h1>Mauris Lacus Nisl Suscipit Ut Orci Ut Gravida Dapibus Neque</h1></a></div>
                                                                <div class="hidden-xs">
                                                                        <p>
                                                                                Fames ac ante ipsum primis in faucibus. Aenean vulputate a nunc quis suscipit. Praesent non risus consequat,
                                                                                volutpat mi eu, porta nibh. Pellentesque habitant morbi tristique senectus et..
                                                                        </p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="item">
                                                <div class="item-inner">
                                                        <div data-src="http://placehold.it/730x370" data-alt="Stones turpis egestas Curabitur scelerisque sagittis lectus ac consequat Mauris dictum sollicitudin tincidunt"></div>
                                                        <div class="carousel-caption hide">
                                                                <div><a href="#"><h1>Stones Turpis Egestas Curabitur Scelerisque Sagittis Lectus Ac</h1></a></div>
                                                                <div class="hidden-xs">
                                                                        <p>
                                                                                Nam sagittis neque et lectus varius imperdiet. Phasellus blandit viverra diam, et tincidunt arcu tempus ut.
                                                                                Nulla gravida erat nisi, sed laoreet nulla fringilla id. Maecenas tristique erat...
                                                                        </p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <!-- Light -->
                                <div class="image-light"></div>

                                <!-- Carousel Controls -->
                                <a class="left carousel-control" href="#carousel-medium" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                                <a class="right carousel-control" href="#carousel-medium" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                        </div>
                </div>
                <img src="{{ asset('img/shadow.png') }}" class="shadow" alt="shadow">
        </section>
